<div class="leaflet-wrapper">
  {{#leaflet-map lat=lat lng=lng zoom=zoom}}
    {{!-- Specify child layer components here --}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{/leaflet-map}}
</div>