@import 'ember-paper';
@import 'ember-paper-stepper';
@import 'paper-data-table';

.leaflet-wrapper {
  height: 450px;;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

#plotly-container {
  width:200px;
  height: 200px;
}

.md-dialog-container {
  z-index: 9999;
}
